
.LoginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.LoginContainer {
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  background-color: black;
}

.LoginForm,
.SignupForm {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.LoginForm {
  background-color: #ffffff;
}

.SignupForm {
  background-color: #f2f2f2;
}
