$PADDING_X: 15px;
$PADDING_Y: 15px;

.LoginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.148);
  border-radius: 5px;
  background: #c19bff;
  padding: $PADDING_X $PADDING_Y;
  height: 100%;

  button {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.298);
    border: none;
    border-radius: 5px;
    background: rgb(113, 1, 241);
    // margin-top: auto;
    padding: 10px 20px;
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 18px;
  }

  input {
    border: none;
    padding: 10px;
    font-size: 14px;
    font-family: inherit;
    text-align: center;
  }

  .inputRowContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0;

    .inputRow {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.148);
      border-radius: 5px;
      background: white;
      padding: 1px 10px;
      color: rgba(0, 0, 0, 0.457);
      font-size: 14px;
      text-align: center;

      * {
        background: transparent;
      }

      *:first-child {
        border-right: 1px solid rgba(0, 0, 0, 0.457);
        width: 40%;
      }

      *:last-child {
        width: 50%;
      }
    }
  }
}
