$PADDING_X: 50px;
$PADDING_Y: 30px;

.LoginForm {
  gap: $PADDING_X;
  height: 100%;
  padding: $PADDING_X $PADDING_Y;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    width: 100%;
    margin-bottom: auto;
    text-align: center;
  }

  button {
    width: 100%;
    padding: 10px 20px;
    margin-top: auto;

    font-size: 20px;
    font-weight: bold;

    border: none;


    border: 3px dotted #e64e4e;
    color:  #e64e4e;
    border-color: #e64e4e;
    background-color: pink;
    box-shadow: inset 0px 0px 15px 0px rgba(255, 0, 0, 0.259);
  }

  input {
    padding: 10px 20px;

    border: none;
    font-family: inherit;
  }

  .inputRowContainer {
    gap: 10px;
    display: flex;
    flex-direction: column;

    .inputRow {
      gap: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;

      *:first-child {
        width: 30%;
      }

      *:last-child {
        width: 70%;
      }
    }
  }
}