* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  background: rgba(255, 226, 255, 0.259);
  padding: 0;
}

body > * {
  padding: 0 100px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  height: calc(100vh - 260px);
}
