$PADDING_X: 15px;
$PADDING_Y: 15px;

.contactUsPage {
    gap: $PADDING_X;
    height: 100%;
    padding: $PADDING_X $PADDING_Y;
    width: 70%;
    margin: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .contactDetails {
        flex: 1;
        padding: $PADDING_X;
        box-sizing: border-box;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #c19bff;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.148);

        h1 {
            width: 100%;
            margin: 0;
            text-align: center;
            color: white;
        }

        p {
            text-align: center;
            margin-bottom: 10px;
        }
    }

    .contactForm {
        flex: 1;
        padding: $PADDING_X;
        box-sizing: border-box;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #c19bff;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.148);

        .inputRow {
            gap: 10px;
            padding: 1px 10px;
            margin: 10px;
           

            display: flex;
            flex-direction: row;
            align-items: center;

            color: rgba(0, 0, 0, 0.457);
            font-size: 14px;

            text-align: center;
            border-radius: 5px;
            background: white;
            box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.148);

            * {
                background: transparent;
            }

            *:first-child {
                width: 40%;
                border-right: 1px solid rgba(0, 0, 0, 0.457);
                ;
            }

            *:last-child {
                width: 50%;
            }

        }


        h1 {
            width: 100%;
            margin: 0;
            text-align: center;
            color: white;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }

        label {
            margin-bottom: 10px;
            text-align: center;
        }

        input,
        textarea {
            padding: 10px;

            border: none;

            text-align: center;
            font-size: 14px;
            font-family: inherit;
        }

        textarea {
            width: 100%;
            height: 100px;
        }

        button {
            width: 100%;
            padding: 10px 20px;
            margin: 0;
            font-size: 18px;
            font-weight: bold;

            color: white;
            background: #7f2ad3;
            border: none;
            border-radius: 5px;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.298);
        }
    }
}