$PADDING_X: 15px;
$PADDING_Y: 15px;

.contactUsPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: $PADDING_X;
  margin: auto;
  padding: $PADDING_X $PADDING_Y;
  width: 70%;
  height: 100%;

  .contactDetails {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.148);
    border-radius: 10px;
    background: #c19bff;
    padding: $PADDING_X;

    h1 {
      margin: 0;
      width: 100%;
      color: white;
      text-align: center;
    }

    p {
      margin-bottom: 10px;
      text-align: center;
    }
  }

  .contactForm {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.148);
    border-radius: 10px;
    background: #c19bff;
    padding: $PADDING_X;

    .inputRow {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      margin: 10px;
      box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.148);
      border-radius: 5px;
      background: white;
      padding: 1px 10px;

      color: rgba(0, 0, 0, 0.457);
      font-size: 14px;

      text-align: center;

      * {
        background: transparent;
      }

      *:first-child {
        border-right: 1px solid rgba(0, 0, 0, 0.457);
        width: 40%;
      }

      *:last-child {
        width: 50%;
      }
    }

    h1 {
      margin: 0;
      width: 100%;
      color: white;
      text-align: center;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    label {
      margin-bottom: 10px;
      text-align: center;
    }

    input,
    textarea {
      border: none;
      padding: 10px;
      font-size: 14px;
      font-family: inherit;

      text-align: center;
    }

    textarea {
      width: 100%;
      height: 100px;
    }

    button {
      margin: 0;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.298);
      border: none;
      border-radius: 5px;
      background: #7f2ad3;
      padding: 10px 20px;
      width: 100%;

      color: white;
      font-weight: bold;
      font-size: 18px;
    }
  }
}
