.Footer {
  display: flex;
  justify-content: flex-start;
  background-color: #eeadb5d0;
  color: #000000;
  text-align: center;
  height: 130px;
  align-items: center;

  a {
    text-decoration: none;
    color: #000000;
    font-size: 25px;
    font-weight: 500;
  }

  p {
    font-size: 14px;
  }

  h4 {
    font-size: 18px;
  }

  div {
    flex: 1;
  }
}