.NavBar {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  height: 130px;

  border-bottom: 5px solid #000;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.255);

  border-color: #c19bff;
  background-color: #ceafff;
  background: #ceafff;

  .NavBarLogo {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 300px;
    height: 100%;

    img {
      object-fit: scale-down !important;
    }
  }

  .NavBarItems {
    display: flex;
    margin-left: auto;
    gap: 20px;
    flex-direction: row;
  }

  a {
    color: inherit;
    text-decoration: none !important;
  }
}

.NavBarItem {}