.container {
  font-family: inherit;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  align-items: center;
  margin: 20px; 
}

.container > div {
  flex: 1;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}





