.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 50px;
  overflow: hidden;
  font-family: inherit;
}

.container > div {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
}
