.ProductCarousel {
  .Railing {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 3px solid rgba(113, 1, 241, 0.25);
    padding-bottom: 10px;

    label {
      margin-left: auto;
      border-radius: 5px;
      background: rgb(113, 1, 241);
      padding: 7px 10px;
      height: min-content;
      overflow: hidden;
      color: white;
      font-weight: bold;
      font-size: 16px !important;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .ProductCarouselInner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;

    & > * {
      flex: 1;
    }
  }
}
